
body {
    margin: 0;
    padding: 10px; 
    width: 300px; 
    height: 200px; 
    box-sizing: border-box; 
  }
  
  .container {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
  }
  
  .switch {
    position: absolute;
    top: 8%;
    right: 8%;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border: 2px solid #999; 
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px; 
    width: 26px; 
    left: 4px;
    top: 50%;  
    transform: translateY(-50%);
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196F3;
    border-color: #0d8bf2; /* Change outline when active */
}

input:checked + .slider:before {
    transform: translate(26px, -50%); /* Move the circle correctly */
}

.slider.round {
    border-radius: 45px;
}

.slider.round:before {
    border-radius: 50%;
}
  

#centeredText {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#cen2 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#chud {
    left: 85%;
    top: 90%; 
    max-width: 80px; 
    height: auto; 
}
